<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>
      This is fine
    </h1>

    <form method="post" action="/todos">
      <input type="text" name="description" />
      <button type="submit">Add Todo</button>
    </form>

    <a href="/">GO HOME!</a>

    {{#todos}}
    <form method="post" action="/todos/{{ _id }}/deleted">
      <button type="submit">Delete</button>
    </form>
    <div>
        {{description}} - {{done}} - {{createdAt}}
    </div>
    {{/todos}}


  </body>

</html>
